*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #ebebeb;
  color: #121212;
  font-size: 1.5em;
  overflow-x: hidden;
  text-align: center;
}

img#logo {
  height: 230px;
}

form .pesquisa {
  width: 70%;
  margin: 0 auto;
  max-width: 500px;
}

form .pesquisa .barra-de-pesquisa {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .pesquisa .barra-de-pesquisa #inputSearchPokemon {
  width: calc(100% - 45px);
  height: 45px;
  border-radius: 7px 0 0 7px;
  outline: none;
  border: 1px solid #121212;
  border-right: none;
  font-weight: 300;
  font-size: 0.8em;
  padding: 10px;
  max-width: 500px;
}

form .pesquisa .barra-de-pesquisa #btnSearchPokemon {
  width: 45px;
  height: 45px;
  padding: 10px;
  color: #ebebeb;
  background: #d21819;
  font-size: 17px;
  border: 1px solid #121212;
  border-left: none;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
}

form .pesquisa .itens-pesquisa {
  position: absolute;
  width: 70%;
  max-width: 500px;
  z-index: 100;
}

form .pesquisa .itens-pesquisa .item-pesquisa {
  border: 1px solid #121212;
  border-top: none;
  border-bottom: none;
  background: white;
  padding: 5px;
  color: #121212;
  font-weight: 300;
  font-size: 0.8em;
}

form .pesquisa .itens-pesquisa .item-pesquisa:hover {
  background: #ededed;
}

form .pesquisa .itens-pesquisa .item-pesquisa:nth-last-child(1) {
  border-radius: 0px 0 7px 7px;
  border-bottom: 1px solid #121212;
}

form .pesquisa .itens-pesquisa .sem-resultado:hover {
  background: white;
}

.pokemon-info {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-info .info-esq {
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #c7c7c7;
  background: radial-gradient(circle, #c7c7c7 30%, rgba(235, 235, 235, 0) 60%);
}

.pokemon-info .info-esq img {
  height: 80%;
}

.pokemon-info .info-dir {
  width: 50%;
}

.pokemon-info .info-dir .sessao-info {
  text-align: left;
  margin-bottom: 30px;
}

.pokemon-info .info-dir .sessao-info .tipos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
}

.pokemon-info .info-dir .sessao-info .tipos .tipo {
  background: #15ad15;
  padding: 5px 14px;
  margin-right: 10px;
  border-radius: 7px;
  color: white;
}

.pokemon-info .info-dir .basic-info {
  color: white;
  height: 100px;
  width: 100%;
  clear: both;
  padding-left: 3px;
  position: relative;
  background: #d21819;
  z-index: 1;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-info .info-dir .basic-info:after {
  position: absolute;
  content: '';
  background: inherit;
  z-index: -3;
  height: 100%;
  width: 60%;
  top: 0px;
  left: 0px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skewX(22deg);
          transform: skewX(22deg);
}

.pokemon-info .info-dir .basic-info h1 {
  margin-left: 20px;
}

.pokemon-info .info-dir .basic-info #numero-pokemon {
  color: white;
  height: 80px;
  width: 220px;
  clear: both;
  padding-left: calc(132px / 3);
  position: relative;
  background: #121212;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
}

.pokemon-info .info-dir .basic-info #numero-pokemon:after {
  position: absolute;
  content: '';
  background: inherit;
  z-index: -1;
  height: 100%;
  width: 60%;
  top: 0px;
  left: 0px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skewX(22deg);
          transform: skewX(22deg);
}
/*# sourceMappingURL=style.css.map */